{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body>
    <h1>Add Applicant</h1>

    <form method="POST">
        {% csrf_token %}
        
        <label for="name">Name:</label><br>
        <input class="border border-black px-2 py-1 rounded" type="text" id="name" name="name" required><br><br>
        
        <label for="email">Email:</label><br>
        <input class="border border-black px-2 py-1 rounded" type="email" id="email" name="email" required><br><br>
        
        <label for="job_applied_for">Job Applied For:</label><br>
        <input class="border border-black px-2 py-1 rounded" type="text" id="job_applied_for" name="job_applied_for" required><br><br>
        
        <button class="border border-black px-2 py-1 rounded" type="submit">Submit</button>
    </form>
    
</body>
</html>