{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body>
    <div>
        {% include 'templates/navbar.html' %}
    </div>
    <button class="border border-black px-2 py-1 rounded">
        <a href="{% url 'add_applicant' %}">
            add Application
        </a>
    </button>
    {% for applicant in applicants%}
    <div>
        <h1>Name : {{applicant.name}}</h1>
        <h3>Email : {{applicant.email}}</h3>
        <h3>Job Applied For : {{applicant.job_applied_for}}</h3>
    </div>
    {%endfor%}
</body>
</html>