<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>
            <a href="{% url 'dashboard'%}">home</a>
        </h3>
        <h3>
            <a href="{% url 'applicants'%}">applicants</a>
        </h3>
        <h3>
            <a href="{% url 'slots'%}">slots</a>
        </h3>
        <h3>
            <a href="{% url 'assignments'%}">assignments</a>
        </h3>
    </div>
</body>
</html>